jax>=0.3.15
jaxlib
optax
chex
tensorflow>=2.11
tensorflow_probability
matplotlib
seaborn
tqdm
flax
scikit-learn
blackjax>=1.2.2
jaxopt
jaxtyping
typing-extensions
bs4
holidays
dynamax @ git+https://github.com/probml/dynamax.git#egg=dynamax